<ion-header>
  <ion-toolbar>
    <ion-title>editmeta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


    <ion-list>
      <ion-item>
        <ion-label position="stacked">Qual seu sonho:</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Descreva-o:</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Quanto tempo pretende adquirir:</ion-label>
        <ion-input type="date"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Insira uma foto:</ion-label>
        <ion-input class="foto" type="file"></ion-input>
      </ion-item>
    </ion-list>




  <ion-button color="danger">Cancelar</ion-button>
  <ion-button color="success">Salvar</ion-button>
</ion-content>