<ion-header>
  <ion-toolbar>
    <ion-title>Nova Meta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


    <ion-list>
      <ion-item>
        <ion-label position="stacked">Qual seu sonho:</ion-label>
        <ion-input [(ngModel)]="sonho"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Descreva-o:</ion-label>
        <ion-input [(ngModel)]="descricao"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Quanto tempo pretende adquirir:</ion-label>
        <ion-input type="date" [(ngModel)]="bens"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Insira uma foto:</ion-label>
        <ion-input class="foto" [(ngModel)]="url" ></ion-input>
      </ion-item>
    </ion-list>




  <ion-button color="danger" (click)="onVoltar()">Cancelar</ion-button>
  <ion-button color="success" (click)="onConfirmar();onVoltar(1);onRefresh()">Salvar</ion-button>
</ion-content>