<ion-header>
  <ion-toolbar>
    <ion-title>
      Minhas Metas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Metas</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-icon slot="start" color="green" name="checkmark-circle-outline" class="verde"></ion-icon>
      <ion-label>Comprar um Carro</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="red" name="close-circle-outline"></ion-icon>
      <ion-label>Comprar uma casa</ion-label>
    </ion-item>
    <ion-item >
      <ion-icon slot="start" color="red" name="close-circle-outline"></ion-icon>
      <ion-label>Viajar para a Disney</ion-label>
    </ion-item>
    <ion-item >
      <ion-icon slot="start" color="red" name="close-circle-outline"></ion-icon>
      <ion-label>Pular de Paraquedas</ion-label>
    </ion-item>
  </ion-list>
  <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onEdit(1)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
