<ion-header>
  <ion-toolbar>
    <ion-title >
      Meus Sonhos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <li *ngFor="let item of listTimeLine; let i = index">
        <ion-card    class="welcome-card">
            <ion-img  src="{{item.photo_id}}" ></ion-img>
            <ion-card-header>
              <p>{{item.desc}}</p>
            </ion-card-header>
            <ion-card-content>
              <p>{{item.name}}</p>
            </ion-card-content>
            <ion-card-content>
                <ion-icon name="md-thumbs-up" class="font-iconss"></ion-icon>
              </ion-card-content>
            
          </ion-card>
      </li>
    
</ion-content>
