<ion-header>
  <ion-toolbar>
    <ion-title>
     Meu Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-img [src]="img"></ion-img>
            <br>
          <h4>@neriidev</h4>
          <h5>Rodrigo Gregorio Neri</h5>
          <ion-icon name="logo-instagram" class="font-iconss"></ion-icon>
          <ion-icon name="logo-facebook" class="font-iconss"></ion-icon>
        </ion-card-content>
      </ion-card>
        <ion-card>
            <ion-card-content>
              <div>
                  <ion-icon name="medal" class="font-medal"></ion-icon>
                  <h5>Perfil Expert</h5>
              </div>
              XP: 500000
      </ion-card-content>
    </ion-card>
</ion-content>
