ion-toolbar{
    --background : red;
    }
    ion-title{
      --color: white;
    }


    h4,h5{
      font-weight: bold;
    }


    .font-iconss{
      font-size: 1.8em;
    }

    .font-medal{
      font-size: 5.8em;
    }